<app-navbar></app-navbar>
<section>
  <div class="container registration-bg">
    <form (ngSubmit)="onSubmit()" [formGroup]="regForm">
        
        <div class="row">
          <h2 class="container text-center">REGISTRATION FORM</h2>
               <div class="col-2"></div>
               <div class="col">
                <div class="group">
                  <label>Full Name:</label>
                  <input type="text" autocomplete="off" name="fullname" formControlName="fullname" />
                  <span *ngIf="check('fullname')"> **Full Name is required</span>
                  <span *ngIf="checkLength('fullname')">**Full Name must be atleast 6 to 20 Character</span>
                  <span *ngIf="regForm.get('fullname')?.errors?.['pattern']">**Full Name should contain only alphabets and space</span>
                </div>
                 <div class="group">
                   <label>User Name:</label>
                   <input type="text" autocomplete="off" name="userName" formControlName="userName" />
                   <span *ngIf="check('userName')"> **User Name is required</span>
                   <span *ngIf="checkLength('userName')">**User Name must be atleast 3 to 20 Character</span>
                   <span *ngIf="regForm.get('userName')?.errors?.['pattern']">**User Name should contain only alphabets and space</span>
                 </div>
                 <div class="group">
                   <label for="email">Email Id:</label>
                   <input type="text" autocomplete="off" name="email" formControlName="email" />
                   <span *ngIf="check('email')">**Email ID is required</span> 
                   <span *ngIf="regForm.get('email')?.errors?.['pattern']">**Please Enter Valid Email Id</span>
                 </div>
                 <div class="group">
                  <label>Password:</label>
                  <input type="password" autocomplete="off" name="password" formControlName="password" />
                  <span *ngIf="check('password')">**password is required</span>
        
                  <span *ngIf="regForm.get('password')?.errors?.['pattern']">**Password must be atleast 6 to 12 characters<br />
                    one uppercase, one lowercase, one numeric value</span>
                </div>
               </div>
               <div class="col-2"> </div>
             </div>
             <br />
             <div class="center" style="text-align: center;">
                 <button type="submit"  class="btnGreen" style="padding-right: 20px;">Submit</button> 

             </div>
             <div class="center" style="text-align: center;">
              <button class="btn btn-primary "routerLink="/login">Already have an account?Login!!</button>
            </div>
         </form>
</div>
</section>

<app-footer></app-footer>





