<!-- <div>
  <div>
    <nav class="navbar navbar-expand-lg  fixed-top">
      <div class="container-fluid">
        
        <img class="logo"
          src="https://repository-images.githubusercontent.com/234538112/b3b60300-3fb2-11ea-8c9d-af3ec292a086"
          height="50vh" width="120vh">

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Movie App</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link  mx-lg-2" aria-current="page" routerLink="/home">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link  mx-lg-2" aria-current="page" routerLink="/about">About</a>
              </li>

            </ul>

          </div>
        </div>
        <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

  </div>

</div> -->
<app-navbar></app-navbar>
<div class="movieSection">
  <h4 style="text-align: center; font-weight: 500; block-size: 50px;">About Movie App</h4>
  <p class="ptag">Create a truly engaging and modern website or application that attracts visitors and encourages them
    to share it with their friends. The API is excellently suited for building high-traffic, profitable websites or
    applications, as well as for personal projects.

    The API contains two types of endpoints.
    The “top 100 movies list” endpoint responds to the request with a complete list of 100 movies, including their
    images, titles, ratings, and IDs.
    The received ID can then be used to retrieve detailed information and the trailer for a specific movie. The ID also
    represents the movie’s position on the list.

    For example, “The Shawshank Redemption,” occupying the first position on the list, has a ranking of 1 and an ID of
    “top1.” To access this movie, the ID needs to be added after the “top 100 movies list” link.</p>

</div>

<div>
  <app-footer></app-footer>
</div>