<div>
    <nav class="navbar navbar-expand-lg  fixed-top">
      <div class="container">
        <a class="navbar-brand me-auto" href="#">Movie App</a>
        <!-- <img class="logo" src="https://repository-images.githubusercontent.com/234538112/b3b60300-3fb2-11ea-8c9d-af3ec292a086" height="50vh" width="120vh">
    
         -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Movie App</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link  mx-lg-2" aria-current="page" routerLink="/dashboard">Home</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Movies
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item nav-link  mx-lg-2" aria-current="page" routerLink="/movies">Search By Rank</a></li>
                  <li><a class="dropdown-item nav-link  mx-lg-2" aria-current="page" routerLink="/topmovies">Top100 Movies</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-lg-2" (click)="getall()" routerLink="/wishlist">Wishlist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  mx-lg-2" aria-current="page" routerLink="/about">About</a>
              </li>
  
            </ul>
  
          </div>
        </div>
        <a class="login" href="/home" (click)="logout()" class="login-button me-auto">Logout</a>
        <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    
  </div>